<!DOCTYPE html>
<html>
  <head>
    <title>World Wonders</title>
    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
  </head>
  <body>
    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>

    <div id="landing-header">
      <h1>World Wonders in Civilization V</h1>
      <a href="/campgrounds" class="explore-button btn btn-lg btn-outline-light"
        >Explore</a
      >
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
